.user-reportDetail-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    @media (max-width: 650px){
        width: 100%;
    }
}
